{{ range $path, $containers := groupByMulti $ "Env.PROXY_PATH" "," }}{{ $host := replace $path "/" "_" -1 }}
upstream {{ $host }} {
{{ range $index, $container := $containers }}{{ $addrLen := len $container.Addresses }}
    {{ if eq $addrLen 1 }}{{/* Use single exposed port */}}{{ with $address := index $container.Addresses 0 }}
    # {{$container.Name}}
    server {{ $address.IP }}:{{ $address.Port }};{{ end }}
    {{ else if $container.Env.PROXY_PORT }} {{/* else use PROXY_PORT */}}{{ range $i, $address := $container.Addresses }}{{ if eq $address.Port $container.Env.PROXY_PORT }}
    # {{$container.Name}}
    server {{ $address.IP }}:{{ $address.Port }};{{ end }}{{ end }}
    {{ else }}{{/* else use 80 */}}{{ range $i, $address := $container.Addresses }}{{ if eq $address.Port "80" }}
    # {{$container.Name}}
    server {{ $address.IP }}:{{ $address.Port }};{{ end }}{{ end }}
    {{ end }}
{{ end }}
}
{{ end }}
server {
  location / {
    proxy_pass {{ $.Env.DEFAULT_PROXY_PASS }};
  }
  {{ range $path, $containers := groupByMulti $ "Env.PROXY_PATH" "," }}{{ $host := replace $path "/" "_" -1 }}
  location /{{ $path }}/ {
    proxy_pass http://{{ $host }}/;
  }
  {{ end }}
}
